<table class="table table-responsive table-bordered" id="cdd_table">
    <thead>
    <tr>
        <th>Nombre</th>
        <th>Nombre usuario</th>
        <th>Correo</th>
        <th>Badge</th>
        <th>Fecha de Nacimiento</th>
        <th>N° Post</th>
        <th>N° Coment</th>
        <th>Genero</th>
        <th>Observatorio</th>
        <th>Activo</th>
    </tr>
    </thead>
    <tbody>
    <% if(data.length){
        var usrtype;
        for(var i = 0;i < data.length;i++) {
            switch(data[i].tipo) {
                case 1:
                    usrtype = "Monitor";
                    break;
                case 2:
                    usrtype = "Moderador";
                    break;
                case 3:
                    usrtype = "Ciudadano";
                    break;
                default:
                    usrtype = "notype";

            }%>
        <tr id="cdd_<%= data[i].iduser%>">
            <td><%= data[i].nombre %></td>
            <td><%= data[i].username %></td>
            <td><%= data[i].correo %></td>
            <td>
                <%= data[i].medal %>
                <%if (data[i].tipo == 3){ %>
                    <button id="medal_edit" type="button" class="btn btn-primary btn-sm" data-name="<%=data[i].username%>" data-iduser="<%=data[i].iduser%>" onclick="medal_modal(this)">
                        <i class="fa fa-wrench"></i>
                    </button>
                <%}%>
            </td>
            <td><%= new Date(data[i].fnac).toLocaleDateString() %></td>
            <td><%= data[i].post %></td>
            <td><%= data[i].comentarios %></td>
            <td>
                <%switch(data[i].gender){
                    case 1:
                        %>F<%
                        break;
                    case 0:%>M<%
                        break;
                    default:
                        %>Otro<%
                }%>
            </td>
            <td style="width: 15%">
                <% if(data[i].tipo == 3 && data[i].obsinfo != null){%>
                    <% for(var j = 0;j< data[i].obsinfo.length;j++){%>
                        <div class="btn-group" style="width:100%" role="group">
                            <a href="/show_obs/<%=data[i].obsinfo[j][0]%>" class="btn btn-primary" role="button">
                                <strong><%=data[i].obsinfo[j][1]%></strong>
                            </a>
                            <button type="button" onclick="upd_modal_obs(this)" class="btn btn-warning"
                                    data-target="#change_obs"
                                    data-toggle="modal"
                                    data-obs="<%=data[i].obsinfo[j][1]%>"
                                    data-inst="<%=data[i].obsinfo[j][2]%>"
                                    data-iduser="<%= data[i].iduser%>"><i class="fa fa-wrench"></i></button>
                            <a class="btn btn-danger" href="/user/delete/<%= data[i].iduser%>" role="button"><i class="fa fa-minus"></i></a>
                        </div>
                     <%}%>
                <%}%>
            </td>
            <% if(parseInt(data[i].fecha_comentario) > 0 || parseInt(data[i].fecha_post) > 0){
                %><td>Si</td><%
            } else {
                %><td class="danger">No</td><%
            }%>
        </tr>
        <%}
    }else{ %>
        <tr>
            <td colspan="10">No existen usuarios para mostrar</td>
        </tr>
     <%}%>
    </tbody>
</table>

<script type="text/javascript">
    $("#cdd_table").dataTable({
        "language": {
            "url": "https://cdn.datatables.net/plug-ins/1.10.19/i18n/Spanish.json"
        }
    });
    function upd_modal_obs(yo){
        var esto = $(yo);
        $("#modal_obs_actual").html(esto.data('obs') + " (" + esto.data('inst') +")");
        $("#user_cdd").val(esto.data('iduser'));
    }
    function upd_cdd(){
        var data = {
            iduser: $("#user_cdd").val(),
            idobs: $("#modal_obs_next").val()
        }
        $.ajax({
            url: '/change_cdd',
            type: 'post',
            data: data,
            success: function(data){
                alert(data.err_msg);
                if(!data.err){
                    location.reload();
                }
            }
        })
    }

    function medal_modal(caller) {
        var medal_modal = $('#change_medal_modal')
        medal_modal.find('h4').text('Cambiar Medal de '+ $(caller).data('name'));
        medal_modal.find('#iduser').val($(caller).data('iduser'));
        medal_modal.modal('toggle');
    };


</script>

<!-- Modal cambiar medal -->
<div id="change_medal_modal" class="modal fade">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header" style="padding-bottom: 5px">
                <h4></h4>
            </div>
            <div class="modal-body">
                <form id="change_medal" action="/mod/change_badge">
                    <div class="form-group">
                        <label>Nueva badge</label>
                        <input class="form-control" type="text" name="new_medal">
                        <input class="form-control hidden" type="text" name="iduser">
                    </div>
                    <input id="edit_medal" type="submit" class="btn btn-success" style="">
                </form>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="change_obs" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title" id="myModalLabel">Cambiar Observatorio</h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4">
                        <h4 style="margin-top: 10px">Observatorio Actual:</h4>
                    </div>
                    <div class="col-md-6">
                        <h4 id="modal_obs_actual"></h4>
                    </div>
                </div>
                <div class="row" style="margin-top: 20px">
                    <div class="col-md-6">
                        <h4 style="margin-top: inherit">Observatorio Nuevo:</h4>
                    </div>
                    <div class="col-md-12">
                        <form id="chng_obs">
                            <% if(obs.length){%>
                            <select name="razon" class="form-control" id="modal_obs_next">
                                <option value="#" disabled selected>Elija un Observatorio</option>
                                <% for(let i = 0;i<obs.length;i++){%>
                                <option value="<%= obs[i].idobservatorio%>"><%= obs[i].nom%> (<%= obs[i].inst_nom%>)</option>
                                <%}%>
                            </select>
                            <%}%>
                            <input type="hidden" id="user_cdd" value="">
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="form-group form-inline">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                        <button onclick="upd_cdd()" data-dismiss="modal"  class="btn btn-primary">Confirmar Cambio</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>