<div class="row">
    <div class="col-md-12">
        <table class="table table-responsive table-bordered" id="cdd_table">
            <thead>
            <tr>
                <th style="padding-right: 15px; font-size: 13px">Nombre</th>
                <th style="padding-right: 15px; font-size: 13px">Nombre usuario</th>
                <th style="padding-right: 15px; font-size: 13px">Correo</th>
                <th style="padding-right: 15px; font-size: 13px">Rut</th>
                <th style="padding-right: 15px; font-size: 13px">Badge</th>
                <th style="padding-right: 15px; font-size: 13px">Fecha de Nac.</th>
                <th style="padding-right: 15px; font-size: 13px">Gen</th>
                <th style="padding-right: 15px; font-size: 13px">Observatorio</th>
                <th style="padding-right: 15px; font-size: 13px">Activo</th>
                <th style="padding-right: 15px; font-size: 13px">N° Post</th>
                <th style="padding-right: 15px; font-size: 13px">N° Coment</th>
            </tr>
            </thead>
            <tbody>
            <% if(data.length){
                var usrtype;
                for(var i = 0;i < data.length;i++) {
                    switch(data[i].tipo) {
                        case 1:
                            usrtype = "Monitor";
                            break;
                        case 2:
                            usrtype = "Moderador";
                            break;
                        case 3:
                            usrtype = "Ciudadano";
                            break;
                        default:
                            usrtype = "notype";

                    }%>
                <tr id="cdd_<%= data[i].iduser%>">
                    <td style="padding-right:0; font-size: 13px"><%= data[i].nombre %></td>
                    <td style="padding-right:0; font-size: 13px"><%= data[i].username %></td>
                    <td style="max-width: 5%;padding-right:0; font-size: 13px"><%= data[i].correo %></td>
                    <td style="padding-right:0; font-size: 13px"><%= data[i].rut %></td>
                    <td style="padding-right:0; font-size: 13px">
                        <div class="row">
                            <div class="col-md-12">
                                <%= data[i].medal%>
                                <%if (data[i].tipo == 3){ %>
                                    <button data-toggle="modal" data-target="#change_medal_modal" class="btn btn-primary btn-xs" data-name="<%=data[i].username%>" data-iduser="<%=data[i].iduser%>" onclick="medal_modal(this)">
                                        <i class="fa fa-wrench"></i>
                                    </button>
                                <%}%>                                
                            </div>
                        </div>
                    </td>
                    <td style="padding-right:0; font-size: 13px"><%= new Date(data[i].fnac).toLocaleDateString() %></td>
                    <td style="padding-right:0; font-size: 13px">
                        <%switch(data[i].gender){
                            case 1:
                                %>F<%
                                break;
                            case 0:%>M<%
                                break;
                            default:
                                %>Otro<%
                        }%>
                    </td>
                    <td style="width: 10%; padding-right:0; font-size: 13px">
                        <% if(data[i].tipo == 3 && data[i].obsinfo != null){%>
                            <% for(var j = 0;j< data[i].obsinfo.length;j++){%>
                                <div class="row">
                                    <div class="col-md-12">
                                        <a href="/show_obs/<%=data[i].obsinfo[j][0]%>" class="btn btn-primary btn-xs" role="button">
                                            <strong><%=data[i].obsinfo[j][1]%></strong>
                                        </a>
                                        <button type="button" onclick="upd_modal_obs(this)" class="btn btn-warning btn-xs"
                                                data-target="#change_obs"
                                                data-toggle="modal"
                                                data-obs="<%=data[i].obsinfo[j][1]%>"
                                                data-inst="<%=data[i].obsinfo[j][2]%>"
                                                data-iduser="<%= data[i].iduser%>"><i class="fa fa-wrench"></i></button>
                                        <a class="btn btn-danger btn-xs" href="/user/delete/<%= data[i].iduser%>" role="button"><i class="fa fa-minus"></i></a>                                        
                                    </div>
                                </div>
                             <%}%>
                        <%}%>
                    </td>
                    <% if(parseInt(data[i].fecha_comentario) > 0 || parseInt(data[i].fecha_post) > 0){
                        %><td style="padding-right:0; font-size: 13px">Si</td><%
                    } else {
                        %><td style="padding-right:0; font-size: 13px" class="danger">No</td><%
                    }%>
                    <td style="padding-right:0; font-size: 13px"><%= data[i].post %></td>
                    <td style="padding-right:0; font-size: 13px"><%= data[i].comentarios %></td>
                </tr>
                <%}
            }else{ %>
                <tr>
                    <td colspan="10">No existen usuarios para mostrar</td>
                </tr>
             <%}%>
            </tbody>
        </table>
    </div>
</div>
<!-- Modal cambiar medal -->
<div id="change_medal_modal" tabindex="-1" role="dialog" class="modal fade">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header" style="padding-bottom: 5px">
                <h4 id="change_modal_title"></h4>
            </div>
            <form id="change_medal">
                <div class="modal-body">
                    <div class="form-group">
                        <label>Nueva badge</label>
                        <input class="form-control" type="text" id="new_medal" maxlength="12" minlength="1" name="new_medal">
                        <input class="hidden" type="text" id="medal_iduser" value="" name="iduser">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Enviar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    $("#cdd_table").dataTable({
        "language": {
            "url": "https://cdn.datatables.net/plug-ins/1.10.19/i18n/Spanish.json"
        }
    });
    function upd_modal_obs(yo){
        var esto = $(yo);
        $("#modal_obs_actual").html(esto.data('obs') + " (" + esto.data('inst') +")");
        $("#user_cdd").val(esto.data('iduser'));
    }
    function upd_cdd(){
        var data = {
            iduser: $("#user_cdd").val(),
            idobs: $("#modal_obs_next").val()
        }
        $.ajax({
            url: '/change_cdd',
            type: 'post',
            data: data,
            success: function(data){
                alert(data.err_msg);
                if(!data.err){
                    location.reload();
                }
            }
        })
    }

    function medal_modal(caller) {
        $("#change_modal_title").html('Cambiar Medal de '+ $(caller).data('name'));
        $("#medal_iduser").val($(caller).data('iduser'));
    };
    $("#change_medal").submit(function (e){
        e.preventDefault();
        $.ajax({
            url: "/upd_medal",
            type: 'post',
            data: {
                medal: $("#new_medal").val(),
                iduser: $("#medal_iduser").val()
            },
            success: function(data){
                if(!data.err){
                    alert(data.errmsg);
                    location.reload();
                } else alert(data.errmsg);
            }
        });
    });
</script>



<div class="modal fade" id="change_obs" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title" id="myModalLabel">Cambiar Observatorio</h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4">
                        <h4 style="margin-top: 10px">Observatorio Actual:</h4>
                    </div>
                    <div class="col-md-6">
                        <h4 id="modal_obs_actual"></h4>
                    </div>
                </div>
                <div class="row" style="margin-top: 20px">
                    <div class="col-md-6">
                        <h4 style="margin-top: inherit">Observatorio Nuevo:</h4>
                    </div>
                    <div class="col-md-12">
                        <form id="chng_obs">
                            <% if(obs.length){%>
                            <select name="razon" class="form-control" id="modal_obs_next">
                                <option value="#" disabled selected>Elija un Observatorio</option>
                                <% for(let i = 0;i<obs.length;i++){%>
                                <option value="<%= obs[i].idobservatorio%>"><%= obs[i].nom%> (<%= obs[i].inst_nom%>)</option>
                                <%}%>
                            </select>
                            <%}%>
                            <input type="hidden" id="user_cdd" value="">
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="form-group form-inline">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                        <button onclick="upd_cdd()" data-dismiss="modal"  class="btn btn-primary">Confirmar Cambio</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>