<%- include ../layouts/user_header.ejs %>
<div class="container blog-content">
    <div class="row">

        <div class="col-sm-8 blog-main">
            <div class="row">
                <div class="col-sm-12">
                    <section class="blog-post">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h1>Ciudadanos de: <%= obs.nom%> <a class="btn btn-info pull-right" href="/obs_monit">Volver</a></h1>
                            </div>
                            <div class="panel-body">
                                <div class="blog-post-date pull-right form-inline" id="cdd_form_table">
                                    <input type="email" name="correo" class="form-control" placeholder="Agrega un ciudadano" id="add_mail">
                                    <button onclick="add()" name="idobs" class="btn btn-info">+ <i class="glyphicon glyphicon-user"></i> Inscribir</button>
                                </div>
                                    <div class="table table-responsive">
                                        <table class="table table-striped" id="cdd_table">
                                            <thead>
                                            <tr>
                                                <th>Usuario</th>
                                                <th>Nombre</th>
                                                <th>Apellido</th>
                                                <th>Badge</th>
                                                <th>Correo</th>
                                                <th></th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                    <% if(data.length) {
                                        for(var i = 0;i<data.length;i++){%>
                                        <tr>
                                            <td><% if(data[i].username){%><%= data[i].username%><%}%></td>
                                            <td><% if(data[i].nombre){%><%= data[i].nombre%><%}%></td>
                                            <td><% if(data[i].apellido){%><%= data[i].apellido%><%}%></td>
                                            <td><%= data[i].medal%></td>
                                            <td><%= data[i].correo%></td>
                                            <td>
                                                <% if(data[i].medal == 'Ciudadano'){%>
                                                    <a onclick="upd_medal(this)" data-medal="Lider" data-iduser="<%= data[i].iduser%>" class="btn btn-success"><i class="fa fa-user"></i></a>
                                                <%} else {%>
                                                <a onclick="upd_medal(this)" data-medal="Ciudadano" data-iduser="<%= data[i].iduser%>" class="btn btn-danger"><i class="fa fa-user"></i></a>
                                                <%}%>
                                                <form action="/drop_cdd" method="post">
                                                    <button class="btn btn-danger" type="submit" name="idobs" value="<%= obs.idobservatorio%>"><i class="glyphicon glyphicon-remove"></i></button>
                                                    <input type="hidden" name="iduser" value="<%= data[i].iduser%>">
                                                </form>
                                            </td>
                                        </tr>
                                    <%    }
                                    } else {%>
                                        <tr>
                                            <td>No hay ciudadanos inscritos</td>
                                        </tr>
                                    <% } %>
                                            </tbody>

                                        </table>
                                </div>
                        </div>
                    </section>
                </div>
            </div>

        </div><!-- /.blog-main -->
        <script type="text/javascript">
            const dtable = $("#cdd_table").dataTable({
                "language": {
                    "url": "http://cdn.datatables.net/plug-ins/1.10.19/i18n/Spanish.json"
                }
            });
            function upd_medal(yo){
                var datos = {
                    iduser: $(yo).data('iduser'),
                    medal: $(yo).data('medal')
                }
                $.ajax({
                   url: '/upd_medal',
                   type: 'post',
                   data: datos,
                   success: function(data){
                       if(!data.err){
                           location.reload();
                       } alert(data.errmsg);
                   }
                });
            }
            function add(){
                var correo = $("#add_mail").val();
                if(correo != '' && /\w@\w.\w/g.test(correo)){
                    console.log("?");
                    $.ajax({
                        type:'post',
                        url: '/add_cdd',
                        data: {
                            correo: correo,
                            idobs: <%= obs.idobservatorio%>
                        },
                        success: function(data){
                            if(!data.err){
                                alert("Creado Exitosamente");
                                location.reload();
                            } else alert(data.errmsg);
                        }
                    })
                }

            }
        </script>

<%- include ../layouts/cdd_footer.ejs %>
